.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.recycleBin {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}

.draggingOver span {
  animation: shake 0.7s infinite;
}

/* create an animation that shakes the trash garbage can icon */

@keyframes shake {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}